#divEsquerda {
  width: 50%;
  height: 1000px;
  border: black;
  border-width: 1px;
  border-style: solid;
}

#divDireita {
    width: 50%;
    height: 1000px;
    background-color: rgb(228, 223, 223)  ;
  }

  #conteudo {
      padding: 10px;
  }