<app-saldos-listagem></app-saldos-listagem>
<div id="menu">
    <nav>
        <a routerLink="/home" routerLinkActive="active" style="padding: 10px"><button>home</button></a>
        <a routerLink="/transferencia" routerLinkActive="active" style="padding: 10px"><button>trasferência</button></a>
        <a routerLink="/cartao" routerLinkActive="active" style="padding: 10px"><button>cartão</button></a>
        <a routerLink="/contatos" routerLinkActive="active" style="padding: 10px"><button>contatos</button></a>
        <a routerLink="/historicoTransferencia" routerLinkActive="active" style="padding: 10px"><button>historico</button></a>

    </nav>
</div>
<router-outlet></router-outlet>