<app-saldos-listagem></app-saldos-listagem>
<div id="menu">
    <nav>
        <a routerLink="/home" routerLinkActive="active" class="botaoMenu" ><button>home</button></a>
        <a routerLink="/transferencia" routerLinkActive="active" class="botaoMenu"><button>trasferência</button></a>
        <a routerLink="/cartao" routerLinkActive="active" class="botaoMenu"><button>cartão</button></a>
        <a routerLink="/contatos" routerLinkActive="active" class="botaoMenu"><button>contatos</button></a>
        <a routerLink="/historicoTransferencia" routerLinkActive="active" class="botaoMenu"><button>histórico</button></a>

    </nav>
</div>
<router-outlet></router-outlet>