<div class="container" id="paddingGeral">
    <h1>Trasferência</h1>

    <div class="form-group">
        <label for="conta">Conta</label>
        <input (keyup)="onContaKeyUp($event)" type="text" class="form-control" id="conta" required>
    </div>
    <button type="button" class="btn btn-default" (click)="buscaUsuarioPorConta()">continuar</button>

    <div id="confirmacao-dados" style="display: none">
        <br>
        <hr>
        <h2>Dados do destinatário:</h2>
        <div class="form-group">
            <label for="valor">Usuário</label>
            <input disabled *ngFor="let rs of dadosDestinatario" type="text" class="form-control" value="{{rs.nome}}"
                id="usuario">
            <hr>
        </div>

        <div class="form-group">
            <label for="valor">Valor</label>
            <input (keyup)="onValorKeyUp($event)" type="text" class="form-control" id="valor">
        </div>

        <button type="button" class="btn btn-default" (click)="transferir()">Transferir</button>
    </div>
</div>
