<div class="container" id="paddingGeral">
  <h2>Histórico de transferências</h2>
  <hr>
  <table style="width:100%">
    <tr>
      <th>Destinatário</th>
      <th>Conta</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Forma de pagamento</th>
      <th>Numero do Cartão</th>
    </tr>
    <tr *ngFor="let historicoTransferencia of historicoTransferencias">
      <td> {{historicoTransferencia.nomeDestinatario}} </td>
      <td> {{historicoTransferencia.numeroConta}} </td>
      <td> {{historicoTransferencia.dataCadastro}} </td>
      <td> R$ {{historicoTransferencia.valor}} </td>
      <td> {{historicoTransferencia.numeroCartao ? 'cartão' : 'débito'}} </td>
      <td>{{historicoTransferencia.numeroCartao}} </td>
    </tr>
  </table>
</div>