<div class="container" id="paddingGeral">
  <h1>Registro Cartão de Crédito</h1>
  <input type="id" value="" id="id" hidden>
  <hr>

  <div class="form-group">
    <label for="nomeUsuarioCartao">Nome do Titular</label>
    <input (keyup)="onNomeUsuarioCartaoKeyUp($event)" type="text" class="form-control" id="nomeUsuarioCartao" required>
  </div>
  <div class="form-group">
    <label for="numeroCartao">Número </label>
    <input (keyup)="onNumeroCartaoKeyUp($event)" type="number" class="form-control" id="numeroCartao" required>
  </div>
  <div class="form-group">
    <label for="validadeCartao">Validade</label>
    <input (keyup)="onValidadeCartaoKeyUp($event)" type="text" class="form-control" id="validadeCartao" required>
  </div>
  <div class="form-group">
    <label for="codigoSeguranca">Código de segurança</label>
    <input (keyup)="onCodigoSegurancaKeyUp($event)" type="number" class="form-control" id="codigoSeguranca" required>
  </div>
  <button type="button" class="btn btn-default" (click)="salvar()">salvar</button>

  <hr>
  <h2>Cartões cadastrados</h2>
  <table style="width:100%">
    <tr>
      <th>Nome do Titutlar</th>
      <th>Número</th>      
      <th>Validade</th>
      <th>Código de Segurança</th>
      <th>#</th>
    </tr>
    <tr *ngFor="let cartao of cartoes">
      <td (click)="carregaCamposEditarFormulario(cartao)"> {{cartao.codigoSeguranca}} </td>
      <td (click)="carregaCamposEditarFormulario(cartao)"> {{cartao.numeroCartao}} </td>
      <td (click)="carregaCamposEditarFormulario(cartao)"> {{cartao.nomeUsuarioCartao}} </td>
      <td (click)="carregaCamposEditarFormulario(cartao)"> {{cartao.validadeCartao}} </td>
      <td>
        <button type="button" class="btn btn-default" (click)="deletar(cartao)"><span
            class="glyphicon glyphicon-trash"></span> </button>
      </td>

    </tr>
  </table>
</div>